{% extends 'base.html.twig' %}

{% block title %}{{ course.Name }} / StudyOn{% endblock %}

{% block body %}
    <h1>{{ course.Name }}</h1>
    <h2>{{ course.Description }}</h2>
    <h2>Уроки</h2>
    <ol>
        {% for lesson in course.getLessons %}
            <li><a href ="{{ path('lesson_show', {'id': lesson.id}) }}">{{ lesson.Name }}</a></li>
        {% endfor %}
    </ol>

    <a href="{{ path('course_index') }}">Вернуться к списку</a>

    <a href="{{ path('course_edit', {'id': course.id}) }}">Редактировать</a>

    <a href="{{ path('lesson_new', {'id': course.id}) }}">Добавить урок</a>

    {{ include('course/_delete_form.html.twig') }}
{% endblock %}
